	
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

$primary-color: #1c504e;

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.inputoutput {
    .caption {
        color: $primary-color;
    }
}

.vjs-marker {
  position:absolute;
  background:red;
  width:5px;
  height:110%;
  top:-5%;
  z-index:30;
  margin-left:-3px;
}

// .upload-area {
//     width: 50vw;
//     height: 30vw;
//     margin: 0 auto;
//     border: 2px dashed #494949;
// }